<div class="row mt-3">
  <br><br>
  <div class="col-sm-2 bg-dark" style="border: 2px; border-radius: 10px;">
    <app-book-categories></app-book-categories>
  </div>
  <div *ngIf='loading' class='col-10 center text-center'>
    <br><br>
    <span class="spinner-border spinner-border-bg mr-1"></span>
  </div>
  <div *ngIf='!loading' class="col-10">
      <div class="row no-gutters">
          <div *ngFor='let book of books;' class="col-sm-3 p-3">
            <a [routerLink]="['/','books', book.id]"><app-book-list-item [book]='book'></app-book-list-item></a><br>
          </div>
      </div>
  </div>
</div>
<div class="row uk-margin-bottom text-center mt-3">
  <div class="col-10 offset-2 mt-2 text-center center">
    <button [routerLink]="['/','books', 'page', i + 1, categoryId ? categoryId : '']"
      *ngFor='let p of counter(pagesCount); let i = index' [disabled]='i + 1 === this.page' class="btn btn-light">
      {{i + 1}}
    </button>
  </div>
</div>
<div class="pt-4"></div>
