<div class="card h-100" id="card">
  <img class="card-img-top p-2 card-image-top" [src]="getBookImage()" />
  <div class="card-block ml-3 mr-3">
    <h4 class="card-title mt-2">
      {{ book.title }}
      <p class="mt-1">
        <small>
          <a>{{ getBookAuthor() }}</a>
        </small>
      </p>
    </h4>
    <div class="card-text mt-3">
      <div class="text-truncate">{{ book.description }}</div>
      <p class="mt-2">
        Price: {{ book.price.toFixed(1) }}<br>
        Rating: {{ getBookRating() }}
      </p>
  </div>
</div>
