<div *ngIf='loading' class='center text-center'>
  <br><br>
  <span class="spinner-border spinner-border-bg mr-1"></span>
</div>
<div *ngIf="!loading" class="row mt-3">
  <div class="col-sm-1"></div>
  <div class="col-10">
    <div class="col-sm-4">
      <img [src]="getBookImage()" class="float-left" style="height: 400px;">
    </div>
    <div class="col-sm-7 offset-5 mr-2">
      <h1 class="text-center">{{book.title}}</h1>
      <div>Price: {{book.price.toFixed(1)}}</div>
      <div>Rating: {{getBookRating()}}</div>
      <div><a [routerLink]="['/', 'authors', book.authorId]">Author: {{getBookAuthor()}}</a></div>
      <div *ngIf="authService.currentUserValue"><br>
        <button *ngIf="!likedBook" class="btn btn-outline-dark" (click)="addToFavorites()">
          <span *ngIf="likeLoading" class="spinner-border spinner-border-sm mr-1"></span>
          Add to favorites
        </button>
        <button *ngIf="likedBook" class="btn btn-outline-dark" [disabled]="true">
          Already added to favorites
        </button>
      </div>
    </div>
  </div>
  <div class="col-1"></div>
</div>
