<div class="row mt-3">
  <br><br>
  <div class="col-2 bg-dark" style="border: 2px; border-radius: 10px;">
    <app-book-categories></app-book-categories>
  </div>
  <div class="col-8">
    <div *ngIf='loading' class='center text-center'>
      <br><br>
      <span class="spinner-border spinner-border-bg mr-1"></span>
    </div>
    <div *ngIf='!loading'>
      <div *ngFor='let author of authorService.authors; let i = index'>
        <a [routerLink]="['/','authors', author.id]"><app-author-list-item [author]='author'></app-author-list-item></a>
      </div>
    </div>
  </div>
  <div class="col-2"></div>
</div>
